html {
    height: 100%;
    background: url(images/colorkit.png) no-repeat center center fixed; 
    background-size: cover;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'abeezee', sans-serif;
    color: #ffffffef;
    font-size: 18px;
}

.scoreboard {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

.score-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    background-color: #ffffffcf;
    border-radius: 0 0 15px 15px;
}

.score-text, .score-points {
    color: #00699d;
    font-size: 20px;
    line-height: 24px;
}

.game-container {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#rps {
    text-align: center;
}

.button-group {
    height: 20%;
    width: 75%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choice-button, .game-button {
    color: #00699d;
    padding: 8px 16px;
    background-color: #ffffffcf;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    height: 48px;
}

.game-button {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hidden {
    display: none;
}

#rock, #yourock, #jorock, .splash-rock {
    background-image: url('images/rock.svg');
}

#paper, #youpaper{
    background-image: url('images/paper.svg');
    transform: scaleX(-1);
}

#jopaper {
    background-image: url('images/paper.svg');
}

#scissors, #youscissors, #joscissors, .splash-scissors {
    background-image: url('images/scissors.svg');
}

#splash {
    height: 50%;
}

#yourock, #youpaper, #youscissors {
rotate: 90deg;
}

#jopaper {
    rotate: 270deg;
}

#jorock, #joscissors {
    rotate: 270deg;
    transform: scaleX(-1);
}

.splash-card {
    aspect-ratio: 1;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    color: #00699d;
    padding: 8px 16px;
    background-color: #ffffffcf;
    border-radius: 15px;
}

.splash-rock {
    rotate: 90deg;
}

.splash-paper {
    background-image: url('images/paper.svg');
    position: relative;
    top: 3px;
    left: -26px;
    rotate: -30deg;
    transform: none;
}

.splash-scissors {
    position: relative;
    top: -36px;
    left: 24px;
    rotate: -145deg;
    transform: scaleX(-1);
}

#vscards {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    body {
        font-size: 28px;
    }
    .button-group {
        width: 60%;
    }
    .score-panel {
        padding: 12px 24px;
    }
    .score-text, .score-points {
        font-size: 32px;
        line-height: 36px;
    }
    .choice-button {
        font-size: 32px;
        height: 60px;
        padding: 8px 20px;
    }
    .game-button {
        height: 96px;
        width: 96px;
    }
    #vscards {
        width: 50%;
    }
    #splash {
        height: 80%;
    }
    .splash-card {
        height: 80px;
    }
    .splash-paper {
        top: 14px;
        left: -60px;
    }
    .splash-scissors {
        top: -64px;
        left: 58px;
    }
}

@media (min-width: 1024px) {
    .button-group {
        width: 50%;
    }
}