html {
    height: 100%;
    background: url(images/colorkit.png) no-repeat center center fixed; 
    background-size: cover;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'abeezee', sans-serif;
    color: #ffffffef;
    font-size: 18px;
}

.scoreboard {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

.score-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    background-color: #ffffffcf;
    border-radius: 0 0 15px 15px;
}

.score-text {
    color: #00699d;
    font-size: 20px;
    line-height: 24px;
}

.score-points {
    color: #00699d;
    font-size: 20px;
    line-height: 24px;
}

.game-container {
    height: 20%;
    display: flex;
    align-items: center;
}

#rps {
    text-align: center;
}

.button-group {
    height: 20%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choice-button, .game-button {
    color: #00699d;
    padding: 8px 16px;
    background-color: #ffffffcf;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    height: 48px;
}

.game-button {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hidden {
    display: none;
}

.paper {
    transform: scaleX(-1);
}

@media (min-width: 768px) {
    body {
        font-size: 24px;
    }
}