html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0097dd; 
    font-family: 'abeezee', sans-serif;
    color: #ffffffef;
    font-size: 18px;
}

.scoreboard {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

.score-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    background-color: #ffffffbf;
    border-radius: 0 0 15px 15px;
}

.score-text {
    color: #0284c7;
    font-size: 20px;
    line-height: 24px;
}

.score-points {
    color: #0284c7;
    font-size: 20px;
    line-height: 24px;
}

.game-instructions {
    text-align: center;
    padding-top: 64px;
}

.button-group {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.choice-button, .game-button {
    color: #0284c7;
    padding: 8px 16px;
    background-color: #ffffffbf;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.game-button {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hidden {
    display: none;
}

.paper {
    transform: scaleX(-1);
}

@media (min-width: 768px) {
    body {
        font-size: 24px;
    }
}